nav {
  background: linear-gradient(to bottom , rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
  padding: 5px;
  font-weight: 800;
  top: 15px;
  height: 70px;
  display: flex;
  align-items: center;
}

nav .cart-icon {
  display: flex;
}

nav .cart-icon:hover {
  color: blue; /* Change the color to your desired hover color */
}

nav .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  gap: 30px;
  margin-left: 300px;
  margin-right: 500px;
}

nav ul li {
  transition: transform 0.3s;
  align-items: center;
 
}

nav ul li:hover {
  transform: scale(1.1) translateY(10px); /* Scale and move down on hover */
}

/* Styles for night mode */
body.night-mode {
  background-color: #000;
  color: #fff;
}

body.night-mode .nav-link {
  color: #fff;
}

body.night-mode .logo img {
  filter: invert(1);
}

body.night-mode .footer {
  background-color: #000;
  color: #fff;
}